<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="speedometer"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="geolocation">
        <ion-icon name="navigate"></ion-icon>
        <ion-label>Geolocation</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="camera">
        <ion-icon name="camera"></ion-icon>
        <ion-label>Camera</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>