<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >Blank 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart...
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item (click)="fireAlert()" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Fire Alert</ion-label>
      </ion-item>
    </ion-card>
    <ion-button (click)="getLoc()" expand="block">Get Location</ion-button>
    <ion-list>
      <ion-list-header>
        <ion-label>Location Info</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Latitue
        </ion-label>
        <ion-badge slot="end">{{lat}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          longitude
        </ion-label>
        <ion-badge slot="end">{{lng}}</ion-badge>
      </ion-item>
      </ion-list>
  </div>
</ion-content>
